
mini-project-III/Mini_project_3 Complete/Dataset/.ipynb_checkpoints/twm_customer-checkpoint.csv
mini-project-III/Mini_project_3 Complete/.ipynb_checkpoints/README-checkpoint.md
mini-project-III/Mini_project_3 Complete/Cluster Groups.png
mini-project-III/Mini_project_3 Complete/Pitch - Miniproject 3.pptx
mini-project-III/Mini_project_3 Complete/Radar_Chart.png
mini-project-III/Mini_project_3 Complete/.ipynb_checkpoints/Radar_Chart-checkpoint.png
